@media only screen and (min-width: 600px){
body {
    background-size: 1600px 900px;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
    margin-right: 1em;
}

.link {
    margin-right: 10em;
    width: 75%;
 }

p {
    font-size: 1.5em;
    margin-right: 5em;
} 
}